.mobileMenu__navbar {
  position: absolute;
  background-color: #a70a0a;
  top: 60px;
  left: 0;
  padding: 30px;
  z-index: 999;
  border-radius: 24px;

  .mobileMenu__navbar_main {
    position: relative;
    width: 190px;

    .mobileMenu__navbar_data {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;

      .mobileMenu__navbar_close {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: white;
      }
    }

    .mobileMenu__navbar_items {
      margin-top: 20px;

      ul {
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
          width: 100%;
        }
      }
    }
  }
}
