#leagues {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;

  h2 {
    font-size: clamp(2rem, 2vw, 2.4rem);
    text-align: center;
    color: #ee1515;
  }

  .index__Leagues_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px; // فاصله بین کارت‌ها
      list-style: none;
      padding: 0;

      li {
        min-width: 300px;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        flex: 0 0 calc(50% - 16px); // دو تا دوتا کنار هم
        display: flex;
        justify-content: center;

        a {
          width: 100%;
          color: white;
          text-decoration: none;
          font-size: clamp(1rem, 2vw, 1.5rem);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: right;
          gap: 20px;

          div {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          span {
            transition-duration: 0.2s;
          }
          &:hover {
            img {
              scale: 1.1;
            }

            span {
              color: #ee1515;
            }
          }
        }
      }
    }
  }
}
