.LeaguesCardItem {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    transition-duration: 0.2s;
  }
}
