.indexVideoLoop {
  position: relative;
  width: 70%;
  height: 70vh;
  max-height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  border-radius: 24px;
  overflow: hidden;
  margin-top: 30px;
  max-width: 1920px;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeIn 1.5s ease-out forwards;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.05); // اختیاری: کمی بزرگ‌تر در ابتدا
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
